In [14]:
###Data cleaning

In [1]:
import pandas as pd
import numpy as np

#import csv
data1 = pd.read_csv('adult.csv')
data1.shape

(48842, 15)

In [2]:
data = pd.read_csv('adult.csv', na_values = ['?'])
data = data.dropna(axis = 0, how = 'any')
data.shape

(45222, 15)

In [3]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [4]:
data = data.drop(axis = 1, labels = ['educational-num'])

In [5]:
data = pd.get_dummies(data, columns = [
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'gender',
    'native-country'
])

data

,age,fnlwgt,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,226802,0,0,40,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,38,89814,0,0,50,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,28,336951,0,0,40,>50K,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,160323,7688,0,40,>50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
5,34,198693,0,0,30,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
7,63,104626,3103,0,32,>50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,24,369667,0,0,40,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
9,55,104996,0,0,10,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
10,65,184454,6418,0,40,>50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
11,36,212465,0,0,40,<=50K,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,26,82091,0,0,39,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
14,48,279724,3103,0,48,>50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
15,43,346189,0,0,50,>50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
16,20,444554,0,0,25,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
17,43,128354,0,0,30,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
18,37,60548,0,0,20,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
20,34,107914,0,0,47,>50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
21,34,238588,0,0,35,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
23,25,220931,0,0,43,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
24,25,205947,0,0,40,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
25,45,432824,7298,0,90,>50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26,22,236427,0,0,20,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
27,23,134446,0,0,54,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
28,54,99516,0,0,35,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
29,32,109282,0,0,60,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30,46,106444,7688,0,38,>50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
31,56,186651,0,0,50,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32,24,188274,0,0,50,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
33,23,258120,0,0,40,<=50K,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
34,26,43311,0,0,40,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48807,32,211349,0,0,40,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48808,22,203715,0,0,40,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48809,31,292592,0,0,40,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48810,29,125976,0,0,35,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48813,34,204461,0,0,60,>50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48814,54,337992,0,0,50,>50K,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
48815,37,179137,0,0,39,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48816,22,325033,0,0,35,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48817,34,160216,0,0,55,>50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48818,30,345898,0,0,46,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48819,38,139180,15020,0,45,>50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48821,45,252208,0,0,40,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48824,45,119199,0,0,48,<=50K,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
48825,31,199655,0,0,30,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48826,39,111499,0,0,20,>50K,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
48827,37,198216,0,0,40,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48828,43,260761,0,0,40,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
48829,65,99359,1086,0,60,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48830,43,255835,0,0,40,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48831,43,27242,0,0,50,<=50K,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48832,32,34066,0,0,40,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48833,43,84661,0,0,45,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48834,32,116138,0,0,11,<=50K,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
48835,53,321865,0,0,40,>50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48836,22,310152,0,0,40,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48837,27,257302,0,0,38,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48838,40,154374,0,0,40,>50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48839,58,151910,0,0,40,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48840,22,201490,0,0,20,<=50K,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48841,52,287927,15024,0,40,>50K,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [6]:
#encode y, can't adjust indices anymore
#y = data.income

data['income'] = np.where(data['income']=='<=50K', 1, 0)
data.head()

,age,fnlwgt,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,226802,0,0,40,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,38,89814,0,0,50,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,28,336951,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,160323,7688,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
5,34,198693,0,0,30,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
#split into training and score datasets
data_train = data.sample(frac = 0.8, random_state = 200)
data_test = data.drop(data_train.index)
print(data_train.shape, data_test.shape)

(36178, 104) (9044, 104)

In [8]:
#remove from data and make sep variable
y_train = data_train.income
data_train = data_train.drop(axis = 1, labels = ['income'])

y_test = data_test.income
data_test = data_test.drop(axis = 1, labels = ['income'])

print(y_train, y_test)

11077    1
10676    1
7107     1
8527     1
47941    1
25732    1
4681     1
32496    1
15976    1
23937    1
40021    1
4726     1
13967    1
38346    1
33128    0
37917    1
25007    1
41042    1
31835    1
17055    1
6170     1
2215     1
14930    0
47795    1
11359    0
18648    0
48099    1
35941    0
23333    1
47226    0
        ..
13828    1
20604    1
6942     1
12599    1
35210    1
10428    1
30900    1
33391    0
32463    0
20542    1
13046    0
35082    1
6112     1
28539    0
10174    0
20134    1
26452    0
43967    1
7307     1
7754     1
17274    0
3153     1
40170    0
31157    0
34586    1
34727    1
10887    1
41321    1
10537    1
18734    1
Name: income, Length: 36178, dtype: int32 2        0
3        0
5        1
7        0
21       1
27       1
43       1
55       1
58       0
62       1
66       0
67       1
77       1
79       1
82       1
98       0
107      1
117      1
142      0
145      1
146      1
150      1
157      1
160      1
164      0
171      1
176      1
181      0
186      1
190      0
        ..
48701    1
48711    1
48714    1
48722    0
48729    1
48734    0
48738    0
48739    0
48740    1
48743    0
48765    1
48766    1
48767    1
48781    1
48786    1
48787    0
48796    1
48797    1
48801    1
48804    1
48810    1
48815    1
48818    1
48819    0
48821    1
48824    1
48828    1
48831    1
48834    1
48837    1
Name: income, Length: 9044, dtype: int32

In [9]:
#convert to 2 matricies X, Y
X_train = data_train.as_matrix()
X_test = data_test.as_matrix()
print(X_train[:2], X_test[:2])

[[    38 198751      0      0     40      0      0      1      0      0
       0      0      0      0      0      0      0      0      0      0
       0      0      0      1      0      0      0      0      1      0
       0      0      0      0      0      0      0      0      0      0
       1      0      0      0      0      0      0      0      0      0
       1      0      0      0      0      0      1      0      0      0
       0      1      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      0      0      0
       0      1      0]
 [    60 220729      0      0     50      0      0      1      0      0
       0      0      0      0      0      0      0      1      0      0
       0      0      0      0      0      0      0      0      0      0
       1      0      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      1      0      0      1
       0      0      0      0      0      0      0      0      0      1
       0      1      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      0      0      0
       1      0      0]] [[    28 336951      0      0     40      0      1      0      0      0
       0      0      0      0      0      0      0      0      0      1
       0      0      0      0      0      0      0      0      0      0
       1      0      0      0      0      0      0      0      0      0
       0      0      0      0      0      1      0      0      0      1
       0      0      0      0      0      0      0      0      0      1
       0      1      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      0      0      0
       1      0      0]
 [    44 160323   7688      0     40      0      0      1      0      0
       0      0      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      1      0      0
       1      0      0      0      0      0      0      0      0      0
       0      1      0      0      0      0      0      0      0      1
       0      0      0      0      0      0      0      1      0      0
       0      1      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      0      0      0
       0      0      0      0      0      0      0      0      0      0
       1      0      0]]

In [10]:
Y_train = y_train.as_matrix()
Y_test = y_test.as_matrix()
print(Y_train[:2], Y_test[:2])

[1 1] [0 0]

In [18]:
print(X_train.shape, Y_train.shape)

(36178, 103) (36178,)

In [19]:
#performing logistic regression
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(fit_intercept=True, C = 1e15)
model.fit(X_train, Y_train)
print(clf.intercept_, clf.coef_)

[ 0.00029528] [[  5.10171214e-03   4.25703588e-06  -3.28837271e-04  -7.35462539e-04
    6.02213214e-03  -1.42824266e-05   1.54015641e-07   3.18090162e-04
   -3.74821340e-05   1.97945394e-05   8.43777116e-06   5.65036217e-07
    3.05100126e-05   4.61638905e-05   1.46962114e-05   5.53251278e-06
    1.03605182e-05   2.29637688e-05   1.82140569e-05   4.75725724e-06
    1.14100893e-05  -9.75002353e-05  -2.49009274e-05   2.34422513e-04
   -6.37662982e-05   1.98137956e-06  -3.14864126e-05   1.11918626e-04
    1.52626347e-04  -2.52263897e-08  -3.74156250e-04   1.31767605e-05
    4.31698457e-04   3.69910050e-05   3.49658709e-05   1.05089573e-04
    2.77958939e-08   5.17183916e-05  -1.12126123e-04   3.79447115e-05
    5.30018437e-05   5.83109445e-05   1.46824855e-04   7.58348721e-06
   -9.07040102e-05  -5.97045664e-06   2.13587142e-05   8.28986508e-07
    2.13882514e-05  -3.34213120e-04   2.82470185e-04   3.87947383e-05
    2.18206424e-04   1.34198111e-04  -4.41793749e-05   1.31741082e-05
    6.13732795e-06   6.57434709e-05   6.60988265e-06   2.03612174e-04
    3.33810067e-04  -3.85331029e-05  -2.51389112e-07  -1.14442904e-06
    2.58387851e-08   2.10388589e-06  -7.93660662e-07   2.83152219e-06
    7.57079299e-07   2.75805081e-06  -1.03815558e-06  -6.77147118e-07
    4.51865358e-07  -1.82695969e-07   2.09598893e-06   9.10545096e-07
    1.31884066e-07   3.09557470e-07  -2.36206323e-07  -6.56840489e-08
   -1.88079989e-06  -8.73924656e-07   1.90557626e-07   9.49299787e-08
    1.64291159e-06  -2.87408012e-07   4.14302309e-07   1.54720396e-05
    8.25944925e-07   5.34635376e-07   5.24824249e-07   2.41847650e-07
    9.32405279e-07   1.18503528e-06   3.44243935e-06   3.16801039e-07
    1.74716274e-06  -8.83542461e-07   2.54625758e-07   4.07514765e-07
    2.61114294e-04   2.21235952e-06  -3.38842727e-07]]

In [20]:
#scoring against test
model.score(X_test, Y_test)

0.79478107032286593